@import "tailwindcss";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 248, 248, 248; 
  --background-end-rgb: 255, 255, 255;
}

:root[data-theme="inline"] {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  --font-sans: "Inter", sans-serif;
  
  
  --font-heading: "Outfit", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
  font-family: "Inter", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Outfit", sans-serif;
}
